- title 'Wizard - Change Password'
= render(:layout => 'wizard_form_layout') do |f|
  = form_body({:legend => 'Change Password'}) do
    = f.input :password
    = f.input :password_confirmation
  = wizard_skip_button